*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: aliceblue;
}
body{
    background-color: black;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;

}
.button{
    height: 18vmin;
    width: 18vmin;
    margin: 5px;
    padding: 10px;
}

/* .header {

    grid-area: header;
}
.button1 {
    grid-area: button1;
  }
  
  .button2 {
    grid-area: button2;
  }
  
  .button3 {
    grid-area: button3;
  }
  
  .button4 {
    grid-area: button4;
  }
  
  .button5 {

    grid-area: button5;
  }

  .button6 {

    grid-area: button6;
  }
  .button7 {

    grid-area: button7;
  }
  .button8 {
  
    grid-area: button8;
  }
  .button9 {

    grid-area: button9;
  }

  #game {

    display: grid;
    background-color: red;
    grid-template-columns: 198px;
    padding: 1rem;
    gap: 2px;
    grid-template-areas: 

    
    "button1 button2 button3"
    "button4 button5 button6"
    "button7 button8 button9" ;
  } */
  .rst_btn{
    display: inline;
    height: 10vmin;
    width: 10vmin;
    align-content: center;
  }
